<a href="https://colab.research.google.com/github/FazleRabbi012/Machine-Learning/blob/main/Decision_tree_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sayed\appdata\local\programs\python\python312\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sayed\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sayed\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sayed\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\sayed\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
df=pd.read_csv('JEE_Rank_2016_2024.csv')

In [ ]:
df.dropna(inplace=True)
df.isnull()

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat_Type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
20829,False,False,False,False,False,False,False,False
20830,False,False,False,False,False,False,False,False
20831,False,False,False,False,False,False,False,False
20832,False,False,False,False,False,False,False,False
20833,False,False,False,False,False,False,False,False

In [ ]:
df.tail

<bound method NDFrame.tail of                                         Institute Quota  \
0      Indian Institute of Technology Bhubaneswar    AI
1           Indian Institute of Technology Bombay    AI
2           Indian Institute of Technology Bombay    AI
3           Indian Institute of Technology Bombay    AI
4           Indian Institute of Technology Bombay    AI
...                                           ...   ...
20829      Indian Institute of Technology Dharwad    AI
20830      Indian Institute of Technology Dharwad    AI
20831      Indian Institute of Technology Dharwad    AI
20832      Indian Institute of Technology Dharwad    AI
20833      Indian Institute of Technology Dharwad    AI

                                      Gender  Year  \
0                             Gender-Neutral  2016
1                             Gender-Neutral  2016
2                             Gender-Neutral  2016
3                             Gender-Neutral  2016
4                             Gender-Neutral  2016
...                                      ...   ...
20829  Female-only (including Supernumerary)  2024
20830                         Gender-Neutral  2024
20831  Female-only (including Supernumerary)  2024
20832                         Gender-Neutral  2024
20833  Female-only (including Supernumerary)  2024

                                   Academic_Program_Name Closing_Rank  \
0      Mechanical Engineering (4 Years, Bachelor of T...          651
1      Civil Engineering (4 Years, Bachelor of Techno...           21
2      Computer Science and Engineering (4 Years, Bac...           60
3      Energy Engineering with M.Tech. in Energy Syst...          848
4      Metallurgical Engineering and Materials Scienc...         2971
...                                                  ...          ...
20829  Mechanical Engineering (4 Years, Bachelor of T...         9014
20830  Mechanical Engineering (4 Years, Bachelor of T...         2629
20831  Mechanical Engineering (4 Years, Bachelor of T...         4303
20832  Mechanical Engineering (4 Years, Bachelor of T...         1213
20833  Mechanical Engineering (4 Years, Bachelor of T...         1687

      Opening_Rank      Seat_Type
0              583             ST
1               21  OBC-NCL (PwD)
2                1           OPEN
3              338             SC
4             1657           OPEN
...            ...            ...
20829         7628        OBC-NCL
20830         1327             SC
20831         4302             SC
20832          664             ST
20833         1687             ST

[20833 rows x 8 columns]>

In [ ]:
df.head()

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat_Type
0,Indian Institute of Technology Bhubaneswar,AI,Gender-Neutral,2016,"Mechanical Engineering (4 Years, Bachelor of T...",651,583,ST
1,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Civil Engineering (4 Years, Bachelor of Techno...",21,21,OBC-NCL (PwD)
2,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Computer Science and Engineering (4 Years, Bac...",60,1,OPEN
3,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Energy Engineering with M.Tech. in Energy Syst...,848,338,SC
4,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Metallurgical Engineering and Materials Scienc...,2971,1657,OPEN

In [ ]:
df.tail()

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat_Type
20829,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",9014,7628,OBC-NCL
20830,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",2629,1327,SC
20831,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",4303,4302,SC
20832,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",1213,664,ST
20833,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",1687,1687,ST

In [ ]:
df.isnull()

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat_Type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
20829,False,False,False,False,False,False,False,False
20830,False,False,False,False,False,False,False,False
20831,False,False,False,False,False,False,False,False
20832,False,False,False,False,False,False,False,False
20833,False,False,False,False,False,False,False,False

In [ ]:
inputs=df.drop('Seat_Type',axis='columns')
inputs

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank
0,Indian Institute of Technology Bhubaneswar,AI,Gender-Neutral,2016,"Mechanical Engineering (4 Years, Bachelor of T...",651,583
1,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Civil Engineering (4 Years, Bachelor of Techno...",21,21
2,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Computer Science and Engineering (4 Years, Bac...",60,1
3,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Energy Engineering with M.Tech. in Energy Syst...,848,338
4,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Metallurgical Engineering and Materials Scienc...,2971,1657
...,...,...,...,...,...,...,...
20829,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",9014,7628
20830,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",2629,1327
20831,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",4303,4302
20832,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",1213,664
20833,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",1687,1687

In [ ]:
target=df['Seat_Type']
target

0                   ST
1        OBC-NCL (PwD)
2                 OPEN
3                   SC
4                 OPEN
             ...
20829          OBC-NCL
20830               SC
20831               SC
20832               ST
20833               ST
Name: Seat_Type, Length: 20833, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:

le_Institute=LabelEncoder()
le_Quota=LabelEncoder()
le_Gender=LabelEncoder()
le_Year=LabelEncoder()
le_Academic_Program_Name=LabelEncoder()
le_Closing_Rank=LabelEncoder()
le_Opening_Rank=LabelEncoder()

In [ ]:
inputs['Institute_n']=le_Institute.fit_transform(inputs['Institute'])
inputs['Quota_n']=le_Quota.fit_transform(inputs['Quota'])
inputs['Gender_n']=le_Gender.fit_transform(inputs['Gender'])
inputs['Year_n']=le_Year.fit_transform(inputs['Year'])
inputs['Academic_Program_Name_n']=le_Academic_Program_Name.fit_transform(inputs['Academic_Program_Name'])
inputs['Opening_Rank_n']=le_Year.fit_transform(inputs['Opening_Rank'])
inputs['Closing_Rank_n']=le_Year.fit_transform(inputs['Closing_Rank'])
inputs

,Institute,Quota,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Institute_n,Quota_n,Gender_n,Year_n,Academic_Program_Name_n,Opening_Rank_n,Closing_Rank_n
0,Indian Institute of Technology Bhubaneswar,AI,Gender-Neutral,2016,"Mechanical Engineering (4 Years, Bachelor of T...",651,583,3,0,1,0,138,5760,6727
1,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Civil Engineering (4 Years, Bachelor of Techno...",21,21,4,0,1,0,67,2398,2735
2,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,"Computer Science and Engineering (4 Years, Bac...",60,1,4,0,1,0,76,1,6428
3,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Energy Engineering with M.Tech. in Energy Syst...,848,338,4,0,1,0,101,3909,7840
4,Indian Institute of Technology Bombay,AI,Gender-Neutral,2016,Metallurgical Engineering and Materials Scienc...,2971,1657,4,0,1,0,149,1646,3913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20829,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",9014,7628,6,0,0,8,138,6759,8134
20830,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",2629,1327,6,0,1,8,138,936,3532
20831,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",4303,4302,6,0,0,8,138,4742,5198
20832,Indian Institute of Technology Dharwad,AI,Gender-Neutral,2024,"Mechanical Engineering (4 Years, Bachelor of T...",1213,664,6,0,1,8,138,6231,715
20833,Indian Institute of Technology Dharwad,AI,Female-only (including Supernumerary),2024,"Mechanical Engineering (4 Years, Bachelor of T...",1687,1687,6,0,0,8,138,1702,1951

In [ ]:
inputs_n=inputs.drop(['Institute','Quota','Academic_Program_Name','Year','Gender','Closing_Rank','Opening_Rank'],axis='columns')

In [ ]:
inputs_n

,Institute_n,Quota_n,Gender_n,Year_n,Academic_Program_Name_n,Opening_Rank_n,Closing_Rank_n
0,3,0,1,0,138,5760,6727
1,4,0,1,0,67,2398,2735
2,4,0,1,0,76,1,6428
3,4,0,1,0,101,3909,7840
4,4,0,1,0,149,1646,3913
...,...,...,...,...,...,...,...
20829,6,0,0,8,138,6759,8134
20830,6,0,1,8,138,936,3532
20831,6,0,0,8,138,4742,5198
20832,6,0,1,8,138,6231,715
20833,6,0,0,8,138,1702,1951

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier(criterion='entropy')

In [ ]:
model.fit(inputs_n,target)

DecisionTreeClassifier(criterion='entropy')

In [ ]:
print(inputs_n.dtypes)

Institute_n                int32
Quota_n                    int32
Gender_n                   int32
Year_n                     int64
Academic_Program_Name_n    int32
Opening_Rank_n             int32
Closing_Rank_n             int32
dtype: object

In [ ]:
model.score(inputs_n,target)

0.9987999807996928

In [ ]:
model.predict([[4,0,1,0,149,1646,391]])

C:\Users\sayed\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['ST'], dtype=object)